@font-face {
    font-family: "GraphikLCG-Regular";
    src: url("../fonts/GraphikLCG-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "GraphikLCG-Semibold";
    src: url("../fonts/GraphikLCG-Semibold.ttf");
    font-weight: 600;
}

a {
    cursor: pointer;
}

/*HEADER*/
* {
    box-sizing: border-box;
}
.header {
    padding: 25px;
}

.background-color {
    background-color: #FFFFFF;
}

.fix-size-container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 20px;
}

.header .fix-size-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.margin ~ .item {
    margin-left: 51px;
}

.logo a {
    width: 100%;
    display: flex;
    margin-right: 51px;
}

.logo-nav, 
.list-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item, .link {
    font-family: GraphikLCG-Regular;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.button-first, 
.button-second {
    width: 120px;
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.363);
}

.button-second {
    color: #FFFFFF;
    background: #FF6336;
    margin-right: 10px;
    border: none;
}

.button-first ~ .margin {
    margin-left: 10px;
}

.line {
    height: 1px;
    left: 0%;
    right: 0%;
    top: 95px;
    background: #CCCCCC;
}
/* HEADER END */

/* MAIN START */
.image-main {
    width: 750px;
    margin-top: 151px;
}

.title {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 65px;
    line-height: 115%;
    color: #000000;
    width: 552px;
    padding-top: 128px;
}

.description-text {
    font-family: GraphikLCG-Regular;
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    color: #000000;
    width: 471px;
    margin-top: 51px;
    margin-bottom: 50px;
}

.size-button {
    width: 160px;
    height: 60px;
}

.text {
    font-family: GraphikLCG-Regular;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    padding-bottom: 172px;
    margin-top: 25px;
}

.section-second {
    background-color: #FF9C7D;
    padding-top: 108px;
}

.title-box {
    display: flex;
    justify-content: center;
}

.title-second {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    margin-top: 108px;
    width: 720px;
    text-align: center;
}

.card-box {
    margin-top: 88px;
    padding-bottom: 127px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title-content {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    width: 493px;
    margin-bottom: 30px;
}

.text-box {
    font-family: GraphikLCG-Regular;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    width: 491px;
    margin-bottom: 30px;
}

.text-start {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
}

.link-text {
    color: #000000;
}

.box-size {
    margin: auto 0;
}

.block-size {
    padding-top: 90px;
    padding-bottom: 250px;
}

.image-flex {
    display: flex;
    justify-content: space-between;
}

.reverse {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.background-color {
    background-color: #FFF8E4;
}

.title-text {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    padding-top: 120px;
    padding-bottom: 79px;
}

.card {
    width: 330px;
    background-color: #FFF8E4;
    text-align: center;
}

.card-image {
    width: 160px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 26px;
    display: block;
}

.title-card {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 25px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.description-card {
    font-family: GraphikLCG-Regular;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    width: 330px;
    padding-bottom: 75px;
    margin: auto;
}

.icon-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.card-local {
    width: 440px;
    height: 609px;
    display: block;
}

.title-local-main {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    padding-top: 154px;
    padding-bottom: 75px;
}

.image-local {
    height: 201px;
    margin-bottom: 49px;
}

.title-local {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 34px;
}

.text-description-local {
    font-family: GraphikLCG-Regular;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    width: 409px;
    margin-bottom: 25px;
}

.link-local {
    font-family: GraphikLCG-Regular;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.local-size {
    padding-bottom: 217px;
}

.card-local-flex {
    display: flex;
    justify-content: space-between;
}

.background-revolut {
    background-color: #C9E8F2;
}

.image-person {
    width: 310px;
    margin-bottom: 104px;
    margin-top: 53px;
}

.text-revolut-about {
    font-family: GraphikLCG-Regular;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 23px;
    width: 100%;
}

.text-revolut {
    font-family: GraphikLCG-Regular;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    width: 272px;
    margin-bottom: 14px;
}

.card-revolut-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background-color-cake {
    background: #DABC98;
}

.cake-icon-size {
    padding: 82px 0;
}

.flex-cake {
    display: flex;
    justify-content: space-between;
}

.span-cake {
    margin: auto;
}

.icon-cake {
    margin-right: 67px;
}

.margin ~ .icon {
    margin-left: 70px;
}

.cake-title {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #000000;
    width: 461px;
}

.line-cake {
    margin-left: 124px;
    margin-right: 71px;
    border-right: 1px solid;
    background-color: #000000;
    height: 168px;
    width: 1px;
}

.span-cake-first {
    margin: auto 0;
    display: flex;
    justify-content: space-evenly;
}

.title-tools {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    padding-top: 165px;
    width: 791px;
    margin: 0 auto;
}

.decription-tools {
    font-family: GraphikLCG-Regular;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    width: 539px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.tools-flex {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

.button-tools {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF6336;
    border: none;
    width: 193px;
    height: 60px;
}

.button-flex {
    display: flex;
    justify-content: center;
    padding-bottom: 162px;
}

.orange-block {
    background-color: #FF9C7D;
    padding-top: 119px;
    padding-bottom: 161px;
}

.title-orange {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    width: 784px;
    margin: 0 auto;
    margin-bottom: 29px;
}

.text-orange {
    font-family: GraphikLCG-Regular;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 54px;
}

.button-orange {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    width: 160px;
    height: 60px;
}

.button-orange-flex {
    display: flex;
    justify-content: center;
}

.container-main {
    width: 370px;
}

.fix-size-footer {
    width: 1290px;
    margin: 0 auto;
    background-color: #EEEEEE;
}

.background-footer {
    background-color: #EEEEEE;
}

.padding-footer {
    padding-top: 92px;
    padding-bottom: 95px;
}

.title-ride {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    width: 257px;
    margin-bottom: 28px;
}

.image-ride {
    width: 300px;
    height: 300px;
    margin-bottom: 39px;
}

.image-specialized {
    width: 80px;
    margin-bottom: 24px;
}

.text-footer {
    font-family: GraphikLCG-Regular;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    width: 290px;
    padding-bottom: 15px;
}

.link-read {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
}

.container-footer {
    width: 187px;
    margin-left: 34px;
}

.title-footer {
    font-family: GraphikLCG-Semibold;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 21px;
}

.item-footer, .link-footer {
    font-family: GraphikLCG-Regular;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 15px;
    text-decoration: none;
}

.line-footer {
    height: 1px;
    color: #000000;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
}

.box-padding {
    padding-top: 52px;
    padding-bottom: 43px;
}

.localise-title {
    font-family: GraphikLCG-Regular;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    width: 301px;
}

.localise-text-end {
    font-family: GraphikLCG-Regular;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.image-localise {
    margin-right: 14px;
}

@media (max-width: 1100px) {
    .fix-size-container {
        flex-direction: column;
    }

    .logo-nav {
        margin-bottom: 30px;
    }

    .button-first, .button-second {
        width: 250px;
        height: 55px;
    }

    .section-first .fix-size-container {
        flex-direction: column;
        align-items: center;
    }

    .section-first_text {
        order: 1;
    }

    .image-main {
        width: 100%;
        margin-top: 50px;
    }

    .title {
        font-size: 50px;
        padding: 40px 0;
        width: 100%;
        text-align: center;
    }

    .description-text {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .size-button {
        width: 300px;
    }

    .section-first_button {
        text-align: center;
    }

    .text {
        text-align: center;
        padding-bottom: 50px;
    }

    .title-second {
        font-size: 60px;
        margin-top: 50px;
    }

   .title-content {
        font-size: 50px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }

   .text-box {
        text-align: center;
        font-size: 25px;
        line-height: 35px;
        width: 100%;
    }

   .block-size {
        flex-direction: column;
        align-items: center;
    }

    .text-start a {
        font-size: 35px;
        margin: 0 auto;
    }

    .image-order {
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .block-size {
        padding-bottom: 0;
        text-align: center;
    }

    .card {
        margin: 0 auto;
    }

    .title-local-main {
        text-align: center;
        padding-top: 110px;
    }    

    .text-description-local {
        width: 100%;
    }

    .title-orange {
        width: 100%;
        font-size: 76px;
    }

    .text-revolut-about {
        text-align: center;
        padding-top: 0;
    }
    .text-revolut {
       margin: 0 auto;
       margin-bottom: 25px;
    }

    .flex-cake {
        flex-direction: column;
        align-items: center;
    }

    .icon_G2, 
    .icon_capterra {
        flex-direction: row;
    }

    .span-cake-second {
       margin-right: 0; 
    }

    .icon-cake {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .cake-title {
        font-size: 55px;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }  

    .line-cake {
        margin-left: 0;
        margin-right: 0;
    }
    
    .order-image {
        order: 1;
        padding-bottom: 30px;
        text-align: center;
    }

    .title-tools {
        padding-bottom: 40px;
        width: 100%;
        font-size: 66px;
    }

    .button-tools {
        width: 500px;
        font-size: 21px;
        height: 70px;
    }

    .button-orange {
        font-size: 22px;
        width: 500px;
        height: 70px;
    }

    .img-bird {
        width: 100%;
    }

    .container-main, .container-footer  {
        margin: 0 auto;
        text-align: center;
    }

    .title-footer {
        font-size: 30px;
        line-height: 35px;
        margin-top: 25px;
    }
    .title-ride {
        margin: 0 auto;
        margin-bottom: 25px;
        font-size: 57px;
        width: 100%;
    }

    .image-ride {
        width: 100%;
        margin-bottom: 0;
    }

    .image-specialized {
        width: 120px;
        margin-top: 25px;
    }

    .text-footer {
        margin: 0 auto;
        font-size: 25px;
    }

    .link-read {
        margin-bottom: 30px;
    }

    .container-footer {
        font-size: 30px;
        width: 100%;
    }

    .link-footer {
        font-size: 23px;
        line-height: 35px;
        margin-bottom: 23px;
    }

    .background-color-cake .span-cake-first {
        border-top: 1px solid #000;
        padding: 50px 13px 0 0;
        width: 100%;
        flex: 0 0 100%;
        border-left: 0;
    }

    .line-cake {
        height: 0;
        width: 0;
    }
}

@media (max-width: 750px) {
    .logo-nav {
        flex-direction: column;
    }

    .margin ~ .item {
        margin-left: 20px;
    }

    .fix-size-container .list-items {
        width: 100%;
        justify-content: space-between;
    }

    .logo-nav {
        width: 100%;
    }

    .logo .img {
        width: 160px;
        display: flex;
    }

    .logo {
        margin-bottom: 20px;
    }

    .button-second  {
        margin-right: 10px;
    }

    .card-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 81px;
        gap: 34px;
    }

    .card-box img {
        margin-right: 20px;
    }

    .text-box {
        width: 500px;
    }

    .title-orange {
        width: 100%; 
    }

    .card-local-flex {
        flex-wrap: wrap;
    }

    .card-local  {
       margin: 0 auto;
    }

    .image-local  {
        align-items: center;
        width: 100%;
    }

    .title-local {
        text-align: center;
    }

    .text-description-local {
        text-align: center;
        width: auto;
    }

    .link-local a {
        margin: auto;
    }

    .local-size {
        text-align: center;
        padding-bottom: 110px;
    }

    .text-revolut-about {
        width: 100%;
    }

    .title-tools {
        width: 100%;
        font-size: 50px;
        line-height: 60px;
    }

    .img-bird {
        width: 100%;
    }

    .title-orange {
        width: 100%;
        font-size: 55px;
    }
}

@media (max-width: 600px) {
    .fix-size-container .list-items {
        flex-direction: column;
        width: auto;
    }

    .logo {
        margin-right: 0;
    }

    .button-first ~ .margin {
        margin-left: 0;
    }

    .item {
        font-size: 25px;
        margin-bottom: 20px;
        display: block;
    }
    
    .button-container {
        width: 100%;
        height: 60px;
    }

    .button-first, 
    .button-second {
        width: 100%;
        font-size: 20px;
    }

    .button-first {
        margin-bottom: 20px;
    }

    .line {
        margin-top: 70px;
    }

    .image-main {
        width: 100%;
    }

    .title {
        font-size: 30px;
        line-height: 40px;
    }

    .description-text {
        width: auto;
        font-size: 21px;
    }

    .button-second {
        margin-bottom: 15px;
    }

    .text {
        font-size: 17px;
    }

    .title-second {
        font-size: 50px;
    }

    .text-box {
        width: 100%;
    }

    .img-colaborate {
        width: 100%;
    }

    .title-content {
        font-size: 45px;
        width: 100%;
    }

    .block-size {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .image-order {
        margin-bottom: 0;
        margin-top: 0;
    }

    .image-ride {
        width: 100%;
    }

    .size {
        margin-bottom: 0;
        display: none;
    }

    .title-local-main {
        font-size: 42px;
    }

    .title-text {
        font-size: 45px;
        padding-bottom: 50px;
    }

    .card {
        margin: 0 auto;
        padding-bottom: 25px;
    }

    .description-card {
        padding-bottom: 50px;
        width: 100%;
    }

    .text-revolut-about {
        width: 100%;
        font-size: 29px;
        line-height: 37px;
    }

    .text-revolut {
        font-size: 21px;
    }

    .logo { 
        margin-left: 35px;
    }

    .title-tools {
        width: 100%;
        font-size: 42px;
        line-height: 65px;
    }

    .cake-title {
        font-size: 44px;
    }

    .button-tools {
        width: 100%;
    }

    .title-orange {
        width: 100%;
        font-size: 40px;  
        line-height: 60px;
    }

    .button-orange {
        width: 100%;
    }

    .title-ride {
        font-size: 50px;
    }

    .background-color-cake .span-cake-first {
        border-top: 1px solid #000;
        padding: 50px 13px 0 0;
        width: 100%;
        flex: 0 0 100%;
        border-left: 0;
    }

    .decription-tools {
        width: 100%;
    }

    .line-cake {
        height: 0;
        width: 0;
    }

    .logo-nav .navigation {
       align-items: center;
    }
}